<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}BizVision — Решения для бизнеса{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{% block meta_description %}Мы создаем сайты и IT-решения для бизнеса.{% endblock %}">
  <meta name="keywords" content="бизнес, сайты, IT, разработка, digital, продвижение">
  <meta name="author" content="BizVision">

  <meta property="og:title" content="{% block og_title %}BizVision{% endblock %}" />
  <meta property="og:description" content="{% block og_description %}Цифровые решения для вашего бизнеса{% endblock %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://yourdomain.com/" />
  <meta property="og:image" content="https://yourdomain.com/static/main/og-image.jpg" />
  <meta name="twitter:card" content="summary_large_image" />

<!--  <link rel="icon" href="{% static 'web/favicon.ico' %}" />-->
  <link rel="canonical" href="https://yourdomain.com{% block canonical %}/{% endblock %}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 text-gray-800">
  <header class="bg-primary text-white">
    <div class="max-w-7xl mx-auto px-4 py-6 flex justify-between items-center">
      <h1 class="text-xl font-bold">BizVision</h1>
      <nav class="space-x-4">
        <a href="{% url 'index' %}" class="hover:text-blue-400">Главная</a>
        <a href="{% url 'solutions' %}" class="hover:text-blue-400">Решения</a>
        <a href="{% url 'works' %}" class="hover:text-blue-400">Наши работы</a>
        <a href="{% url 'contacts' %}" class="hover:text-blue-400">Контакты</a>
      </nav>
    </div>
  </header>
  <main class="py-10 px-4">
    {% block content %}{% endblock %}
  </main>
  <footer class="bg-primary text-white text-center py-6">
    <p>&copy; 2025 BizVision. Все права защищены.</p>
  </footer>
</body>
</html>